<!DOCTYPE html>
<html lang="en">

<div class = "langselect">
    <a href = '/en' style = 'color: #64222d'>en</a>
            
    <a href = '/fr' style = 'color: #64222d'>fr</a>
</div>

<head>
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='styles/styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>La Bouquiniste Américaine</title>
</head>

<body>
    <div class="header">
        La Bouquiniste Américaine
    </div>
    <ul>
        <li> <a class='active' href ='/fr'>Accueil</a></li>
        <li> <a href ='/fr/a_propos'>A propos</a></li>
        <li> <a href ='/fr/par_livre'>Recommendations par livre</a></li>
        <li> <a href ='/fr/par_topique'>Recommendations par topique</a></li>
        <li> <a href ='/fr/contact'>Contact</a></li>
    </ul>
    <div class = 'content'>
        <h3>
            Quel est le prochain livre que vous devriez lire?
        </h3>
    
        <p>
            S'il vous plaît, selectionnez un livre que vous avex aimé au passé dans le menu déroulant.

            <br />(C'est une liste assez longue, donc il devrait y en avoir au moins un!)
        </p>
        <form action='/fr/par_livre'>
            <select name='Titles'>
                {% for f in books%} 
                    <option value = {{ f }} > {{ books[f] }} </option> 
                {% endfor %}
            </select> 
            <input class='btn' type="submit" value="Soumettre" method="get">
        </form>
    
        <p>
           Livres suggérés : <br /><br />
           {% for f in rec_book %} 
                {{ f }} <br />
           {% endfor %}
        </p>
    </div>
    <div class="footer">
        <p>
            <a href='/' style = 'color: #FFFFFF'>Accueil </a> |
            <a href='/fr/a_propos' style = 'color: #FFFFFF'>A propos</a> |
            <a href='/fr/a_propos' style = 'color: #FFFFFF'>Contact</a> |
            <a href='https://marenhamilton.com' style = 'color: #FFFFFF'>Blog</a>
        </p>
    </div>
</body>

</html>